@font-face {
    font-family: "Fafo Sans";
    src: url("./FafoSans/Fafo-Sans-Regular.otf") format("opentype"); font-weight: 400;
}
@font-face {
        font-family: "Fafo Sans";
        src: url("./FafoSans/Fafo-Sans-Bold.otf") format("opentype"); font-weight: 500;
    } 

/* GENERAL */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fafo Sans";
    text-align: left;
    background-image: url('./img/fondo marmol.jpg');
    background-size: cover;
}

h1{
    font-size: clamp(2rem, 2.1333vw + 1.3333rem, 4rem);
}

h2{
    font-size: clamp(1rem, 1.0667vw + .6667rem, 2rem);
}

p, ul{
    font-size: clamp(1rem, 2.1333vw + .3333rem, 3rem);
}

ul li{
    list-style-position: inside;
    padding-left: 2vh;
}

/* CENTRA EL FLIPBOOK */

#centrado{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
/*     background-color: #003547; */
    overflow: hidden;
    padding: 2em;
}

.flipbookWrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1;
}

/* FLIPBOOK NO TOCAR */

.flipbook{
    width: 100%;
    height: 100%;
    filter: drop-shadow(1vh 1vh 1vh #a2a2a2);
}

.flipbook .page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    user-select: none;
    background-size: contain;
}
    /* DEGRADADO DE LA PÁGINA */
.flipbook [page]{
    position: relative;
}

.flipbook [page=1]::before{
    content: none !important;
}

.flipbook [page$="1"]::before,
.flipbook [page$="3"]::before,
.flipbook [page$="5"]::before,
.flipbook [page$="7"]::before,
.flipbook [page$="9"]::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
   background-image: linear-gradient(to right, #2a2a2a65 0%, #2a2a2a00 5%);
}

.flipbook [page$="0"]::before,
.flipbook [page$="2"]::before,
.flipbook [page$="4"]::before,
.flipbook [page$="6"]::before,
.flipbook [page$="8"]::before{
    content: "";
    width: 100%;
   height: 100%;
   position: absolute;
   z-index: 10;
   background-image: linear-gradient(to left, #2a2a2a65 0%, #2a2a2a00 5%);
}

/* PRIMERAS / ÚLTIMAS PÁGINAS */

.portada{
    background-image: url(img/portada.jpg) !important;
    background-size: cover !important;
}

.contra{
    background-image: url(img/contraportada.jpg);
    background-size: cover !important;
}

.intro{
    background-image: url(img/plano\ naranja.jpg);
    color: #e4e08c;
}

.intro div{
    padding: 10%;
}

.cubierta{
    display: flex;
    justify-content: center !important;
}

/* INTERIOR DEL LIBRO  */

.section{
    color: #e4e08c;
    background-image: url(img/plano.jpg);
}

.section div{
    padding: 10%;
}

/* SLIDES RESPONSIVE */

.responsive {
    display: none;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.controls {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1em;
    z-index: 20;
}

.controls button {
    font-size: 2em;
    border: none;
    outline: none;
    background-color: transparent;
    color: #003547;
}

.slides {
    width: 100%;
    height: 100%;
    display: flex;

}

.slides div {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    transition: 0.5s cubic-bezier(0.65,0.05,0.36,1);
    background-image: url(img/plano\ naranja.jpg);
    background-size: contain;
    padding: 20% 10%;
    color: #003547;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#misrecetas{
    background-image: url(img/portada\ mobile.jpg);
    background-size: cover;
}

@media (width <= 700px) {
    #centrado {
        display: none;
    }

    .responsive {
        display: flex;
    }
}